doctype html
- var title = 'Dada'
- var bodyClass = '';

block vars 
    
html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
    title #{title}
    link(rel="stylesheet", href="styles/vendor.css")
    link(rel="stylesheet", href="styles/main.css")
    body
        .page-container.js-page-container
            .inner-container(class="#{bodyClass}")
                header.header
                    .wrapper
                        a(href="index.html").header__logo.js-go-link
                        nav.header__menu
                            a(href="agency.html").menu__link.js-go-link
                                span Agency
                            a(href="contacts.html").menu__link.js-go-link
                                span Contacts
                            a(href="#" data-popup="projects").menu__projects.js-show-popup
                                span Projects
                main.main
                    block content
                footer.footer
                    .wrapper
                        .relative
                            .footer__copy Copyright © Dada Creative 2010-2015
                            .footer__blocks
                                .blocks__item
                                    .item__title Adress
                                    .item__text 2-ya Zvenigorodskaya str., 13/41, 6 floor<br>123022 Moscow, Russia
                                .blocks__item
                                    .item__title Get in Touch
                                    .item__text Phone: + 7 (495) 374-88-14<br><a href="#">ask@dadacreative.com</a>
                                .blocks__item
                                    .item__title Follow
                                    .item__text.
                                        <a href="#">Facebook</a><br>
                                        <a href="#">Instagram</a>
        .page-changer.js-page-changer
        .overlay.js-overlay
            .overlay__background
            .overlays
                .js-popup.overlay__block.block-projects.wrapper(data-name="projects")
                    .projects-wrapper
                        .projects-inside
                            .projects__top
                                .top__menu
                                    span.screenMobile
                                        a(href="agency.html").menu__item Agency
                                        a(href="contacts.html").menu__item Contacts
                                    a(href="#").menu__item Ru
                                    span.menu__item.screenMobile /
                                    a(href="#").menu__item.active Eng
                                a(href="#").top__close.js-close-popup
                                    span.svg-font.icon-close
                            .projects__bottom
                                .bottom__left
                                    .left__title Projects
                                    .left__nav
                                        a(href="#").nav__link.us-link.active All
                                        a(href="#").nav__link.us-link Digital
                                        a(href="#").nav__link.us-link Branding
                                    .left__contact
                                        a(href="#").us-btn
                                            span Contact Us
                                .bottom__right.js-customScroll
                                    .right__block.block-left
                                        each i in [1,2,3]
                                            .block__item
                                                .item__image
                                                    a(href="project.html").js-go-link.js-go-popup
                                                        img(src="https://placeimg.com/285/285/any")
                                                .item__tag
                                                    a(href="project.html").js-go-link.js-go-popup Digital
                                                .item__name
                                                    a(href="project.html").js-go-link.js-go-popup Yandex
                                    .right__block.block-center
                                        .block__upload
                                            a(href="#").upload__link
                                                span.svg-font.icon-download
                                                span.link__text Download<br>Portfolio
                                        each i in [1,2,3]
                                            .block__item
                                                .item__image
                                                    a(href="project.html").js-go-link.js-go-popup
                                                        img(src="https://placeimg.com/285/285/any")
                                                .item__tag
                                                    a(href="project.html").js-go-link.js-go-popup Digital
                                                .item__name
                                                    a(href="project.html").js-go-link.js-go-popup Yandex
                                    .right__block.block-right
                                        each i in [1,2,3]
                                            .block__item
                                                .item__image
                                                    a(href="project.html").js-go-link.js-go-popup
                                                        img(src="https://placeimg.com/285/285/any")
                                                .item__tag
                                                    a(href="project.html").js-go-link.js-go-popup Digital
                                                .item__name
                                                    a(href="project.html").js-go-link.js-go-popup Yandex
        script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA4Q5VgK-858jgeSbJKHbclop_XIJs3lXs&sensor=true")
        script(src="scripts/vendor.js")
        script(src="scripts/main.concat.js")
        script.
            WebFontConfig = { fontdeck: { id: '59727' } };
            (function() {
              var wf = document.createElement('script');
              wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
              wf.type = 'text/javascript';
              wf.async = 'true';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(wf, s);
            })();
        block scripts
