extends templates/layout

block vars
  - var bodyClass = 'index-body';

block content
  .index.js-main-slider
    .wrapper
      .index-wrap
        .index__slide.js-slide
          .slide__content
            .content__title Yandex.Music
            .content__desc Digital
        .index__slide.js-slide
          .slide__content
            .content__title Yandex.Music2
            .content__desc Digital
        .index__slide.js-slide
          .slide__content
            .content__title Yandex.Music3
            .content__desc Digital
        .index__slide.js-slide
          .slide__content
            .content__title Yandex.Music4
            .content__desc Digital
        .index__slide.js-slide
          .slide__content
            .content__title Yandex.Music5
            .content__desc Digital
        .index__slide.js-slide
          .slide__content
            .content__title Yandex.Music6
            .content__desc Digital
  