$yellow: #f8bb62;
$wideScreen: screen and (min-width: 1650px);
$normalScreen: screen and (max-width: 1650px);
$mobileScreen: screen and (max-width: 768px);

$bigHeaderHeight: 180px;
$midHeaderHeight: 120px;
$mobHeaderHeight: 75px;

$bigFooterHeight: 200px;
$midFooterHeight: 105px;
$mobFooterHeight: 50px;