.footer {
  position: relative;
  z-index: 2;
  height: $bigFooterHeight;

  .relative {
    height: $bigFooterHeight;
  }

  .footer__copy {
    position: absolute;
    bottom: 30px;
    left: 80px;
    color: #757575;
    font-size: 12px;
    line-height: 1.429;
  }

  .footer__blocks {
    position: absolute;
    right: 80px;
    bottom: 30px;

    .blocks__item {
      display: inline-block;
      vertical-align: bottom;
      margin-left: 60px;

      .item__title {
        font-family: 'Playfair Display', serif;
        font-size: 18px;
        color: rgba(0, 0, 0, .87);
      }

      .item__text {
        font-size: 14px;
        color: rgba(0, 0, 0, .54);
        line-height: 1.429;
        margin-top: 13px;

        a {
          color: rgba(248, 187, 98, .54);
          transition: color .3s ease;

          &:hover {
            color: rgba(0, 0, 0, .54);
          }
        }
      }
    }
  }

  @media #{$normalScreen} {
    height: $midFooterHeight;

    .relative {
      height: $midFooterHeight;
    }

    .footer__copy, .footer__blocks {
      bottom: 25px;
    }

    .footer__copy {
      left: 0;
    }
  }

  @media #{$mobileScreen} {
    height: $mobFooterHeight;

    .relative {
      height: $mobFooterHeight;
    }

    .footer__copy {
      font-size: 10px;
    }

    .footer__blocks {
      position: relative;
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
      padding-top: 50px;

      .blocks__item {
        display: block;
        margin: 30px 0 0;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

.index-body {
  @media #{$normalScreen} {
    .footer__blocks {
      display: none;
    }
  }

  @media #{$mobileScreen} {
    .footer {
      height: $mobFooterHeightIndex;

      .relative {
        height: $mobFooterHeightIndex;
      }

      .footer__copy {
        bottom: 10px;
      }
    }
  }
}