html {
  // font-family: 'Roboto Mono';
  font-family:"Basis Grotesque Pro Regular", 'Helvetica Neue', Arial, Droid, sans-serif; font-weight:normal; font-style:normal;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.locked {
    overflow: hidden;
  }
}

body {
  background: #f8fafb;
}

html, body {
  height: 100%;
}

.wrapper {
  max-width: 1600px;
  padding: 0 160px;
  margin: 0 auto;

  @media #{$normalScreen} {
    padding: 0 80px;
  }

  @media #{$mobileScreen} {
    padding: 0 30px;
  }
}

.main {
  min-height: 100%;
  margin-bottom: -$bigFooterHeight;

  &:after {
    //content: "";
    display: block;
    height: $bigFooterHeight;
  }

  @media #{$normalScreen} {
    margin-bottom: -$midFooterHeight;

    &:after {
      height: $midFooterHeight;
    }
  }

  @media #{$mobileScreen} {
    margin-bottom: -$mobFooterHeight;

    &:after {
      height: $mobFooterHeight;
    }
  }
}

.in-wrapper {
  padding: $bigHeaderHeight 0 $bigFooterHeight;

  @media #{$normalScreen} {
    padding: $midHeaderHeight 0 $midFooterHeight;
  }

  @media #{$mobileScreen} {
    padding: $mobHeaderHeight 0 $mobFooterHeight;
  }

  &.top-less {
    padding-top: 0;
  }
}

.page-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2;
}

.page-changer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s ease;

  &.in-front {
    z-index: 3;
  }

  &.active {
    opacity: 1;
  }
}

.relative {
  position: relative;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@media #{$wideScreen} {
  .screenMobile,
  .screenNormal {
    display: none !important;
  }
}

@media #{$normalScreen} {
  .screenWide,
  .screenMobile {
    display: none !important;
  }
}

@media #{$mobileScreen} {
  .screenWide,
  .screenNormal {
    display: none !important;
  }
}