extends templates/layout

block vars
  - var title = 'Dada – main page'
  - var bodyClass = 'index-body'

block content
  .index.js-main-slider
    .wrapper
      .index-wrap
        .index__slide.js-slide(style="background-image: url(images/tmp/index2.jpg);")
          a(href="project.html").slide__link.js-slide-link
          .slide__content
            .project-title Yandex.Music
            .project-desc Digital
        .index__slide.js-slide(style="background-image: url(images/tmp/index.jpg);")
          a(href="project.html").slide__link.js-slide-link
          .slide__content
            .project-title Yandex.Music2
            .project-desc Digital
        .index__slide.js-slide(style="background-image: url(images/tmp/index2.jpg);")
          a(href="project.html").slide__link.js-slide-link
          .slide__content
            .project-title Yandex.Music3
            .project-desc Digital
        .index__slide.js-slide(style="background-image: url(images/tmp/index.jpg);")
          a(href="project.html").slide__link.js-slide-link
          .slide__content
            .project-title Yandex.Music4
            .project-desc Digital
        .index__slide.js-slide(style="background-image: url(images/tmp/index2.jpg);")
          a(href="project.html").slide__link.js-slide-link
          .slide__content
            .project-title Yandex.Music5
            .project-desc Digital
        .index__slide.js-slide(style="background-image: url(images/tmp/index.jpg);")
          a(href="project.html").slide__link.js-slide-link
          .slide__content
            .project-title Yandex.Music6
            .project-desc Digital
  