extends templates/layout

block vars
  - var title = 'Dada – main page'
  - var bodyClass = 'index-body'

block content
  .index-sample.js-index-sample
  .index.js-main-slider
    .wrapper
      .index-wrap
        .index__slide.js-slide(style="background-image: url(http://placehold.it/1920x1080);")
          a(href="#").js-slide-left.slide__arrow.arrow-left
            span.svg-font.icon-arrow_left
          a(href="#").js-slide-right.slide__arrow.arrow-right
            span.svg-font.icon-arrow_right
          a(href="project.html").slide__link.js-slide-link
          .slide__content.js-slide-content
            .project-title Yandex.Music
            .project-desc Digital
        .index__slide.js-slide(style="background-image: url(http://placehold.it/1920x1080);")
          a(href="#").js-slide-left.slide__arrow.arrow-left
            span.svg-font.icon-arrow_left
          a(href="#").js-slide-right.slide__arrow.arrow-right
            span.svg-font.icon-arrow_right
          a(href="project.html").slide__link.js-slide-link
          .slide__content.js-slide-content
            .project-title Yandex.Music2
            .project-desc Digital
        .index__slide.js-slide(style="background-image: url(http://placehold.it/1920x1080);")
          a(href="#").js-slide-left.slide__arrow.arrow-left
            span.svg-font.icon-arrow_left
          a(href="#").js-slide-right.slide__arrow.arrow-right
            span.svg-font.icon-arrow_right
          a(href="project.html").slide__link.js-slide-link
          .slide__content.js-slide-content
            .project-title Yandex.Music3
            .project-desc Digital
        .index__slide.js-slide(style="background-image: url(http://placehold.it/1920x1080);")
          a(href="#").js-slide-left.slide__arrow.arrow-left
            span.svg-font.icon-arrow_left
          a(href="#").js-slide-right.slide__arrow.arrow-right
            span.svg-font.icon-arrow_right
          a(href="project.html").slide__link.js-slide-link
          .slide__content.js-slide-content
            .project-title Yandex.Music4
            .project-desc Digital
        .index__slide.js-slide(style="background-image: url(http://placehold.it/1920x1080);")
          a(href="#").js-slide-left.slide__arrow.arrow-left
            span.svg-font.icon-arrow_left
          a(href="#").js-slide-right.slide__arrow.arrow-right
            span.svg-font.icon-arrow_right
          a(href="project.html").slide__link.js-slide-link
          .slide__content.js-slide-content
            .project-title Yandex.Music5
            .project-desc Digital
        .index__slide.js-slide(style="background-image: url(http://placehold.it/1920x1080);")
          a(href="#").js-slide-left.slide__arrow.arrow-left
            span.svg-font.icon-arrow_left
          a(href="#").js-slide-right.slide__arrow.arrow-right
            span.svg-font.icon-arrow_right
          a(href="project.html").slide__link.js-slide-link
          .slide__content.js-slide-content
            .project-title Yandex.Music6
            .project-desc Digital
  